---
layout: ../layouts/layout.astro
---
<article>
    <h1>About Me</h1>
    <p>Hello, my name is Cody Hall, and I do too many things. Everyone always starts off saying what they are, but I can't be fit into one box or even two.</p>
    <p>I am a web developer, a designer, a marketer, a small business owner, a photographer, an investigator, a painter, a maker, a writer, a teacher, a friend, a listener, a brother, a son, a neighbor, a citizen, and a human being.</p>    
</article>