<!-- src/components/Footer.astro -->
<link rel="stylesheet" href="/styles/footer.css" />
<footer class="footer">
    <div class="social-media">
      <a href="https://linkedin.com/in/chal0326" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a href="https://github.com/chal032687" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://twitter.com/hall_cody_l" target="_blank" rel="noopener noreferrer">Twitter</a>
    </div>
    <div class="copyright">
      &copy; Cody L Hall, All Rights Reserved.
    </div>
  </footer>
  