
---
const siteTitle = 'Cody L. Hall';
const pages = [
  { title: 'Home', href: '/' },
  { title: 'Portfolio', href: '/portfolio' },
  { title: 'Blog', href: '/blog' },
  { title: 'About', href: '/about' },
  { title: 'Contact', href: '/contact' },
];
---

<header>
  <nav>
    <a class="logo" href="/">{siteTitle}</a>
    <ul class="menu">
      {pages.map(page => (
        <li><a href={page.href}>{page.title}</a></li>
      ))}
    </ul>
  </nav>
</header>
